/* form.css */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #43a047, #fb8c00);
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #2e7d32;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="password"],
input[type="text"] {  /* Adicionei input[type="text"] aqui */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388e3c;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}